/* Centrado del Contenedor Principal */
.change-password-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Título */
.manga-header {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
.manga-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    font-size: 1rem;
}

/* Botones */
.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.manga-button,
.manga-button-cancel {
    flex: 1;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.manga-button {
    background-color: #000;
    color: #fff;
}

.manga-button:hover {
    background-color: #444;
}

.manga-button-cancel {
    background-color: #ddd;
    color: #000;
}

.manga-button-cancel:hover {
    background-color: #bbb;
}

/* Mensaje de Error */
.error-message {
    color: red;
    font-size: 0.9rem;
}

/* Estilo para los mensajes de error */
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}
