
.rankin-section-container {
    width: 100%;
    height: 850px;
    text-align: center;
    background-color: #e7edf0;
    padding: 60px 0;
}

.rankin-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 5px;
}

.rankin-subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 40px;
    font-family: 'Noto Sans JP', ui-sans-serif, system-ui, sans-serif;
    color: #000000;
}

.rankin-header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #3a3a3a;
    margin-top: -130px;
}

.rankin-header p {
    font-size: 12px;
    font-weight: bold;
    color: #3a3a3a;
    margin: 0;
}

.underline-rankin {
    width: 5%;
    height: 2px;
    background-color: #3a3a3a;
    margin: 5px auto 0;
}

.rankin-icon-svg {
    display: block;
    width: 600px;
    height: auto;
    transform: translateX(170px);
}


.rankin-grid {
    display: grid;
    grid-template-columns: repeat(4, 1.5fr);
    gap: 20px;
    margin: 0 60px;
    max-width: 1200px;
}

.rankin-item {
    list-style: none;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    tab-size: 4;
    list-style: none;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: var(--text-lg);
    font-weight: 700;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    container-type: inline-size;
}

.add-goodsItem__number {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    font-family: var(--font-en);
    line-height: 1;
    border-width: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}

/* Animaciones de deslizamiento */
@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Aplicación de las animaciones en cada dirección */
.rankin-item.slide-in-left {
    animation: slideInLeft 0.5s ease-out forwards;
}

.rankin-item.slide-out-left {
    animation: slideOutLeft 0.5s ease-out forwards;
}

.rankin-item.slide-in-right {
    animation: slideInRight 0.5s ease-out forwards;
}

.rankin-item.slide-out-right {
    animation: slideOutRight 0.5s ease-out forwards;
}

.imagerankin-container {
    width: 100%;
    height: 260px;
    overflow: hidden;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rankin-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.image-container:hover .rankin-image {
    transform: scale(1.05);
    }


.rankin-item-title {
    list-style: none;
    color: inherit;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    display: -webkit-box;
    height: min-content;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 52px;
    margin-top: 14px;
    text-align: left;
}

.rankin_info {
    list-style: none;
    color: inherit;
    font-size: var(--text-lg);
    font-weight: 700;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.rankin-item-tag {
    font-weight: 800;
    letter-spacing: 0.045em;
    width: 110px;
    height: 54px;
    font-size: 11px;
    background: url("https://auth.dozo-gift.com/front/v1_1/images/common/category-bg.svg") no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.rankin-item-price {
    list-style: none;
    color: inherit;
    font-size: var(--text-lg);
    font-weight: 700;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    margin-left: auto;
    text-align: right;
}

.rankin-item-description {
    font-size: 13px;
    color: var(--color-body-text);
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.041em;
    margin-top: 5px;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rankin-button {
    list-style: none;
    color: inherit;
    font-size: var(--text-lg);
    font-weight: 700;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    margin-top: auto;
    tab-size: 4;
    font-family: inherit;
    list-style: none;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 39px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    max-width: 162px;
    font-size: 13px;
}

.rankin-button:hover {
    background-color: #333;
}

.rankin-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.rankin-nav-button {
    background-color: transparent;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.rankin-nav-button:hover {
    background-color: black;
    color: white;
}

.rankin-page-indicator {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 20px;
    color: #333;
}
